<div class="container mt-5">
  <h3 class="my-4 text-center">Total: {{ totalOrderPrice }}</h3>

  <div class="mb-4 text-center">
    <label for="categorySelect" class="form-label">Category</label>
    <select id="categorySelect" class="form-select w-50 m-auto" [(ngModel)]="selectedCatId"
      (ngModelChange)="onCategoryChange()">
      <option [value]="0" disabled>Please select a category</option>
      @for (cat of categories; track cat.id) {
      <option [ngValue]="cat.id">{{ cat.name }}</option>
      }
    </select>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (prd of products; track prd.id) {
    <div class="col">
      <div class="card" [style.background-color]="prd.quantity === 0 ? 'yellow' : '#fff'">
        <img [src]="prd.imgUrl" class="card-img-top" title="{{ prd.name }}" alt="{{ prd.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ prd.name }}</h5>
          <p>Price: {{ prd.price }}</p>
          @switch (prd.quantity) {
          @case (0) { <p>Out of stock</p> }
          @case (1) { <p>Last item!</p> }
          @default { <p>Qty: {{ prd.quantity }}</p> }
          }
          <input type="number" #qtyInp placeholder="Quantity" />
          <button (click)="buy(prd.price, qtyInp.value)" [disabled]="prd.quantity === 0">
            Buy
          </button>
        </div>
      </div>
    </div>
    } @empty {
    @if (selectedCatId !== 0) {
    <p>No products in this category.</p>
    }
    }
  </div>
</div>